{% extends "home.html" %}



{% block title %}


{% endblock title %}

{% block content %}
<div class="row">
        <!-- Upload form. Note enctype attribute! -->
        <form action="upload/" method = "POST" class="dropzone" id="my-awesome-dropzone">
            {% csrf_token %}
            <div class="dz-default dz-message">
                <button class="dz-button" type="button">Upload your files here</button>
                      <div class="drag-area">
                        <div class="icon">
                          <i class="fas fa-images"></i>
                        </div>
                      </div>
                <span class="support">Supports: JPEG, JPG, PNG, PDF</span>
            </div>
            <div class="fallback">
              <input name="file" type="file" multiple />

            </div>
        </form>

</div>




<!--<form action="/file-upload" class="dropzone" id="my-awesome-dropzone">-->
<!--    <div class="fallback">-->
<!--        -->
<!--    </div>-->
<!--</form>-->

{% endblock content %}
